* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: aliceblue;
    overflow: hidden;
}

.header {
    background: url('../design/plaid-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 0.3rem solid #688c9b;
}

.header-content {
    padding: 1.5rem 1.5rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: #688c9b;

}

.header-title {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.header-subtitles {
    font-size: 0.875rem;
}

.add-ingredient {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    background: #688c9b;
    color: aliceblue;
}

.search-bar {
    color: #688c9b;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #bfced1;
    border-radius: 40px;
    font-size: 16px;
    color: #688c9b;
    padding: 20px 45px 20px 20px;
}

/*entire bottom portion of page*/
.main-page {
    display: flex;
    background: #e7eeee;
    height: 100vh;
}

/*categories and ingredients*/
.main-content {
    margin: 10px 10px 10px 10px;
    width: 100%;
    padding: 1rem;
    background: aliceblue;
    backdrop-filter: blur(40px);
    display: flex;
    
    
}

/*filter on the left*/
.filter-bar {
    margin: 10px 0px 10px 10px;
    width: 25%;
    padding: 1rem;
    flex: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: aliceblue;
}

.filter-bar h3 {
    justify-content: center;
    text-align: center;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Aligns wrapped lines to the start */
    width: 100%;
    overflow-y: auto; /* Add scroll if content overflows */
}

.category-container {
    background: #f0f8ff; /* A lighter blue than aliceblue for contrast */
    border: 1px solid #bfced1;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    flex-basis: calc(33.333% - 2rem); /* Adjust for 3 columns, accounting for margin */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}