* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: aliceblue;
    overflow: hidden;
}

.header {
    background: url('../design/plaid-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 0.3rem solid #688c9b;
}

.header-content {
    padding: 1.5rem 1.5rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: #688c9b;

}

.header-title {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.header-subtitles {
    font-size: 0.875rem;
}

.searchBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    background: #688c9b;
    color: aliceblue;
    margin-right: 1rem;
}

.search-bar {
    position: relative;
    color: #688c9b;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #bfced1;
    border-radius: 40px;
    font-size: 16px;
    color: #688c9b;
    padding: 20px 45px 20px 20px;
}

#search-button {
    position: absolute;
    right: 10px;
}

#ingredient-dropdown{
    position: absolute;
    top: 100%;
    width: 100%;

    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;

    z-index: 999;
}

.hidden{
    display: none;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f5f5f5;
}


#selected-ingredients {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: inline-flex;
    border: 1px solid #ccc;
    background: #d9edff;
    color: #688c9b;
    border-radius: 10px;
    padding: 5px;
}

.tag:hover {
    color: white;
    background: #48606b;
}

/*entire bottom portion of page*/
.main-page {
    display: flex;
    background: #e7eeee;
    height: 100vh;
}

/*categories and ingredients*/
.main-content {
    margin: 10px 10px 10px 10px;
    width: 100%;
    padding: 1rem;
    background: aliceblue;
    backdrop-filter: blur(40px);
    display: flex;
    border: 1px solid #bfced1;
    border-radius: 8px;
    overflow-y: auto;
    
    
}

/*filter on the left*/
.filter-bar {
    margin: 10px 0px 10px 10px;
    width: 25%;
    padding: 1rem;
    flex: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: aliceblue;
    border: 1px solid #bfced1;
    border-radius: 8px;
}

.filter-bar h3 {
    justify-content: center;
    text-align: center;
}

#filter-ingredient-type-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.filter-item {
    font-size: 1.5rem;
}

.recipeList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-content: flex-start;
}

.recipe-card {
    flex-grow: 1;
    flex-basis: calc(33.333% - 2rem);
    min-width: 250px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recipe-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 4px;
}

/* unvisited link */
.recipe-card a:link {
    color: rgb(154, 186, 214);
}

/* visited link */
.recipe-card a:visited {
    color: #688c9b;
}
